@import 'tokens.css';

:root {
    --fs-l: 16px;
}

/* HEIGHT */
.h100 {
    height: 100%;
}
.h6 {
    height: var(--s-6x);
}
.h10 {
    height: var(--s-10x);
    @media (max-width: 720px) {
        height: 52px;
    }
}
.lh10 {
    line-height: var(--s-10x);      /* Line height */
}

/* WIDTH */
.w10 {
    width: var(--s-10x);
}
.w100 {
    width: 100%;
}
.w4 {
    width: var(--s-4x);
}
.w6 {
    width: var(--s-6x);
}

/* MARGIN */
.m1 {
    margin: var(--s-x);
}

/* PADDING */
.p--2 {
    padding: var(--s-2x);
}
.p--3 {
    padding: var(--s-3x);
}
.p4 {
    padding: var(--s-4x);
}
.p0_2 {
    padding: 0 var(--s-2x);
    @media (max-width: 720px) {
        padding: 0 var(--s-3x);
    }
}

/* BACKGROUND */
.bg-p10 {
    background-color: var(--primary-10);
}
.bg-p20-90 {
    background-color: var(--primary-20-90);
}
.bg-p50 {
    background-color: var(--primary-50);
}
.bg-p80 {
    background-color: var(--primary-80);
}
.bg-p50-05 {
    background-color: var(--primary-50-05);
}
.bg-p50-10 {
    background-color: var(--primary-50-10);
}
.bg-p50-40 {
    background-color: var(--primary-50-40);
}
.bg-p10-20 {
    background-color: var(--primary-10-20);
}

/* BACKGROUND FILTER */
.bf-blur1 {
    backdrop-filter: blur(var(--s-x));
    -webkit-backdrop-filter: blur(100px);
}
.bf-blur2 {
    backdrop-filter: blur(var(--s-2x));
    -webkit-backdrop-filter: blur(200px);
}
.bf-blur3 {
    backdrop-filter: blur(var(--s-3x));
    -webkit-backdrop-filter: blur(300px);
}
.bf-blur6 {
    backdrop-filter: blur(var(--s-6x));
    -webkit-backdrop-filter: blur(600px);
}

/* BORDER */
.bd-a10-1-s {
    border: var(--primary-50-10) 1px solid;
}

/* BORDER RADIUS */
.br1 {
    border-radius: var(--s-x);
    -webkit-border-radius: var(--s-x);
    -moz-border-radius: var(--s-x);
    -ms-border-radius: var(--s-x);
    -o-border-radius: var(--s-x);
}

.br2 {
    border-radius: var(--s-2x);
    -webkit-border-radius: var(--s-2x);
    -moz-border-radius: var(--s-2x);
    -ms-border-radius: var(--s-2x);
    -o-border-radius: var(--s-2x);
}
.br3 {
    border-radius: var(--s-3x);
    -webkit-border-radius: var(--s-3x);
    -moz-border-radius: var(--s-3x);
    -ms-border-radius: var(--s-3x);
    -o-border-radius: var(--s-3x);
}
.br5 {
    border-radius: var(--s-5x);
    -webkit-border-radius: var(--s-5x);
    -moz-border-radius: var(--s-5x);
    -ms-border-radius: var(--s-5x);
    -o-border-radius: var(--s-5x);
}

/* TEXT COLOR */
.c-p50 {
    color: var(--primary-50);
}
.c-n95 {
    color: var(--neutral-95);
}
.c--n-30 {
    color: var(--neutral-30);
}
.c-n10 {
    color: var(--neutral-10);
}

/* TYPOGRAPHY */
.t_h4 {
    font-size: 2.8rem;
    line-height: 3rem;
    font-weight: 600;
    @media (max-width: 720px) {
        font-size: 3.2rem;
        line-height: 3.4rem;
    }
}
.t_h3 {
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 600;
    @media (max-width: 720px) {
        font-size: 2.8rem;
        line-height: 3rem;
    }
}
.t_sub-l {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2rem;
    @media (max-width: 720px) {
        font-size: 2rem;
        line-height: 2.2rem;
    }
}
.t_sub-m {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8rem;
    @media (max-width: 720px) {
        font-size: 1.8rem;
        line-height: 2rem;
    }
}
.t_sub-s {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    @media (max-width: 720px) {
        font-size: 1.6rem;
        line-height: 1.8rem;
    }
}
.t_sub-xs {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4rem;
    @media (max-width: 720px) {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }
}
.t_body-l {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2rem;
    @media (max-width: 720px) {
        font-size: 2rem;
        line-height: 2.2rem;
    }
}
.t_body-m {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.8rem;
    @media (max-width: 720px) {
        font-size: 1.8rem;
        line-height: 2rem;
    }
}
.t_body-s {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.6rem;
    @media (max-width: 720px) {
        font-size: 1.6rem;
        line-height: 1.8rem;
    }
}
.t_body-xs {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.4rem;
    @media (max-width: 720px) {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }
}

.fs-s {
    font-size: 1rem;
    @media (max-width: 720px) {
        font-size: 1.3rem;
    }
}
.fs-m {
    font-size: 1.15rem;
    @media (max-width: 720px) {
        font-size: 1.45rem;
    }
}
.fs-l {
    font-size: 1.3rem;
    @media (max-width: 720px) {
        font-size: 1.6rem;
    }
}
.fs-xl {
    font-size: 1.6rem;
    @media (max-width: 720px) {
        font-size: 2rem;
    }
}
.fs-2xl {
    font-size: 2rem;
}
.fs-3xl {
    font-size: 2.3rem;
}
.fs-4xl {
    font-size: 2.6rem;
}
.fs-5xl {
    font-size: 3rem;
}
.fs-6xl {
    font-size: 3.3;
}

.ff-p {
    font-family: var(--ff-p);
}

/* POSITION */
.fixed {
    position: fixed;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.l0 {
    left: 0;
}

/* LAYERING */
.z1 {
    z-index: 4;
}
.z2 {
    z-index: 8;
}
.z3 {
    z-index: 12;
}

/* DISPLAY */
.block {
    display: block;
}
.inline {
    display: inline;
}

/* FLEXBOX */
.flex {
    display: flex;
}
.f-d--col {
    flex-direction: column;
}
.f-d--col-r {
    flex-direction: column-reverse;
}
.f-ai-center {
    align-items: center;
}
.f-ai-start {
    align-items: flex-start;
}
.f-jc-center {
    justify-content: center;
}
.f-jc-space {
    justify-content: space-between;
}
.g1 {
    gap: var(--s-x);
}
.g2 {
    gap: var(--s-2x);
}
.g3 {
    gap: var(--s-3x);
}
.g--4 {
    gap: var(--s-4x);
}
.grid {
    display: grid;
}

/* TRANSFORM */
.tr-tx-50 {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

/* TRANSITION */
.t--e-1 {
    transition: all ease 0.1s;
    -webkit-transition: all ease 0.1s;
    -moz-transition: all ease 0.1s;
    -ms-transition: all ease 0.1s;
    -o-transition: all ease 0.1s;
}
.t-eo2 {
    transition: all ease-out 0.2s;
    -webkit-transition: all ease-out 0.2s;
    -moz-transition: all ease-out 0.2s;
    -ms-transition: all ease-out 0.2s;
    -o-transition: all ease-out 0.2s;
}
.t-eo4 {
    transition: all ease-out 0.4s;
    -webkit-transition: all ease-out 0.4s;
    -moz-transition: all ease-out 0.4s;
    -ms-transition: all ease-out 0.4s;
    -o-transition: all ease-out 0.4s;
}
.t--c-b_3 {
    transition: all var(--bez) 0.3s;
    -webkit-transition: all var(--bez) 0.3s;
    -moz-transition: all var(--bez) 0.3s;
    -ms-transition: all var(--bez) 0.3s;
    -o-transition: all var(--bez) 0.3s;
}

/* OTHERS */
.cr-pointer {
    cursor: pointer;
}
.o-hidden {
    overflow: hidden;
}