@import 'tokens.css';

html {
	height: 100%;
	font-size: 62.5%;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

::selection {
    color: var(--primary-10);
    background: var(--primary-50);
}

/* SECTIONING
================================================================= */
body {
    height: 100%;
	position: fixed;
    background: var(--neutral-10);
}

.main-header {
    padding: var(--s-x) var(--s-4x);
    z-index: 5;
}

#empty-state p {
    text-align: center;
}

.empty-state__title {
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 500;
    @media (max-width: 720px) {
        font-size: 2.6rem;
        line-height: 2.8rem;
    }
}

.empty-state__title + p {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.8rem;
    @media (max-width: 720px) {
        font-size: 1.8rem;
        line-height: 2rem;
    }
}

/* MAIN CONTENT
================================================================= */
.password-cont {
    font-family: var(--ff-c);
    font-size: 94px;
}

.char-span {
    display: inline-block;
    width: 94px;
    margin: var(--s-x);
    text-align: center;
}

#crack-time {
    text-shadow: 0 0 20px var(--primary-50);
}

.command {
    background: var(--primary-10);
    padding: var(--s-x) var(--s-2x);
}

/* MODALS
================================================================= */
#modal-blur {
    top: 0;
    z-index: 3;
}

#modal-blur.active {
    backdrop-filter: blur(var(--s-6x));
    z-index: 8;
}

.modal-cont {
    display: flex;
    visibility: hidden;
    opacity: 0;
    top: 0;
}

.modal-cont.active {
    visibility: visible;
    opacity: 1;
}

.modal {
    width: 280px;
    background: transparent;
    align-items: start;
    overflow: hidden;
}

.modal-title, .password-strength {
    font-weight: 500;
}

.input-frame-v > input {
    padding: 8px;
}

label {
    user-select: none;
}

.label-padding {
    padding: 0 4px;
}

/* BUTTONS
================================================================= */
.btn-cont {
    width: 100%;
    max-width: 400px;
}

.btn-cont button {
    flex-basis: 0;
    flex-grow: 1;
}

button {
    font-family: var(--ff-p);
    border-style: none;
}

.primary-btn:hover {
    box-shadow: 0 0 8px var(--primary-50-60);
}

.primary-btn:active {
    background: var(--primary-40);
    box-shadow: none;
}

.secondary-btn:hover {
    color: var(--primary-50);
    background: var(--primary-50-20);
    backdrop-filter: blur(var(--s-2x));
    border: var(--primary-50-10) 1px solid;
}

.secondary-btn:active {
    background: var(--primary-50-10);
}

/* CHECKBOXES
================================================================= */
.checkbox-frame {
    border: var(--primary-50-10) 1px solid;
    border-bottom: none;
}

.checkbox-frame:first-child {
    border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -ms-border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
}

.checkbox-frame:last-child {
    border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    -ms-border-radius: 0 0 8px 8px;
    -o-border-radius: 0 0 8px 8px;
    border: var(--primary-50-10) 1px solid;
}

.checkbox-frame label {
    flex-grow: 1;
}

input[type="checkbox"] {
	appearance: none;
    -webkit-appearance: none;
}

input[type="checkbox"]::after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 16px;
	height: 16px;
	background: var(--primary-30);
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
}

input[type="checkbox"]:checked:after {
    background: var(--primary-50);
	left: calc(100% - 3px);
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
}

/* RANGES
================================================================= */
input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    padding: 0;
}

/* TRACK */
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track {
    appearance: none;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    outline: none;
    position: relative;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer; 
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

/* THUMB */  
input[type="range"]::-moz-range-thumb {
    appearance: none;
    -moz-appearance: none;
    height: 40px;
    width: 28px;
    background: var(--primary-40);
    cursor: pointer;
    border: none;
    border-radius: 8px;
    -moz-border-radius: 8px;
    transition: all ease-out .2s;
    -moz-transition: all ease-out .2s;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 40px;
    width: 28px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    background: var(--primary-40);
    cursor: pointer;
    margin-top: 0; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    transition: all ease-out .2s;
    -webkit-transition: all ease-out .2s;
}

input[type=range]::-ms-thumb {
    -ms-progress-appearance: none;
    height: 40px;
    width: 28px;
    border-radius: 8px;
    -ms-border-radius: 8px;
    background: var(--primary-40);
    cursor: pointer;
    margin-top: 0; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    transition: all ease-out .2s;
    -ms-transition: all ease-out .2s;
}

input[type="range"]:hover::-moz-range-thumb {
    box-shadow: 0 0 8px var(--primary-50-60);
}

input[type="range"]:hover::-webkit-slider-thumb {
    box-shadow: 0 0 8px var(--primary-50-60);
}

input[type="range"]:hover::-ms-thumb {
    box-shadow: 0 0 8px var(--primary-50-60);
}

input[type="range"]:active::-moz-range-thumb {
    background: var(--primary-50);
}

input[type="range"]:active::-webkit-slider-thumb {
    background: var(--primary-50);
}

input[type="range"]:active::-ms-thumb {
    background: var(--primary-50);
}

/* FAKE SELECT
================================================================= */
details {
    user-select: none;
}

details[open] {
	z-index: 1;
}

/* HEADER */
summary {
	list-style: none;
    border-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

summary:focus {
	outline: none;
}

summary.radios:before {
	content: var(--selection);
}

input[type=radio] {
	appearance: none;
}

input[type=radio]:after {
	content: attr(value);
	display: block;
    line-height: 40px;
    font-family: 'DM Sans';
	font-size: 16px;
    color: var(--primary-95);
}

details[open] summary i {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

/* OPTIONS LIST */
ul.list {
    bottom: 44px;
    margin: 0;
    max-height: 213px;
    overflow-y: auto;
}

ul.list li {
    list-style: none;
    line-height: 40px;
	border-bottom: var(--primary-50-10) 1px solid;
}

ul.list li:first-child {
	padding-top: 0;
}

ul.list li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

/* ICONS
================================================================= */
i {
    height: 20px;
    width: 20px;
}

i.chevron-down {
    background-image: url(./assets/svg/chevron-down.svg);
    background-size: contain;
}

/* TOASTS
================================================================= */
#toasts-cont {
    width: calc(100% - 32px);
    max-width: 400px;
    top: 76px;
}

.toast {
    animation: open .3s var(--bez);
}

.toast__countdown {
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: currentColor;
    animation-name: countdown;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.toast.fade {
    animation: fade .3s ease-out forwards;
}

.toast.close {
    animation: close 3s var(--bez) forwards;
}

.toast-success {
    background-color: #005222;
    color: #0c0;
}

.toast-warning {
    background-color: #5f4400;
    color: #ea0;
}

.toast-error {
    background-color: #661414;
    color: #f33;
}

.toast__description {
    color: var(--neutral-95);
}

.toast__text-cont {
    width: fit-content;
}

.toast__btn {
    color: currentColor;
    background: transparent;
}

/* ANIMATIONS
================================================================= */
/* Toasts */
@keyframes open {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes close {
    0% {
        height: auto;
    }
    100% {
        height: 0;
    }
}

@keyframes countdown {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

/* RESPONSIVE
================================================================= */
/* MOBILE (360px) */
@media (max-width: 720px) {
    .main-header {
        padding: 0;
    }

    .modal {
        width: 320px;
    }

    input[type=radio]:after {
        line-height: 52px;
        font-size: 1.6rem;
    }

    ul.list {
        bottom: 56px;
        max-height: 266px;
    }

    input[type="range"]::-moz-range-thumb {
        height: 52px;
        width: 32px;
    }

    input[type="range"]::-webkit-slider-thumb {
        height: 52px;
        width: 32px;
    }

    .password-cont {
        font-size: 44px;
    }
    
    .char-span {
        width: 44px;
    }
}