:root {
    /* COLOR */
    --primary-5: #001a16;
    --primary-10: #00332c;
    --primary-20: #006658;
    --primary-30: #009985;
    --primary-40: #00ccb1;
    --primary-50: #00ffdd;
    --primary-60: #33ffe4;
    --primary-70: #66ffeb;
    --primary-80: #99fff1;
    --primary-90: #ccfff8;
    --primary-95: #e6fffc;

    --neutral-5: #0d0d0d;
    --neutral-10: #1a1a1a;
    --neutral-20: #333333;
    --neutral-30: #4d4d4d;
    --neutral-40: #666666;
    --neutral-50: #808080;
    --neutral-60: #999999;
    --neutral-70: #b3b3b3;
    --neutral-80: #cccccc;
    --neutral-90: #e6e6e6;
    --neutral-95: #f2f2f2;

    --neutral-5_90: #0d0d0de6;

    --primary-10_10: #00332c1a;
    --primary-10_20: #00332c33;
    --primary-10_30: #00332c4d;
    --primary-10_40: #00332c66;
    --primary-10_50: #00332c80;
    --primary-10_60: #00332c99;
    --primary-10_70: #00332cb3;
    --primary-10_80: #00332ccc;
    --primary-10_90: #00332ce6;

    --primary-20_90: #006658e6;

    --primary-50_05: #00ffdd0d;
    --primary-50_10: #00ffdd1a;
    --primary-50_20: #00ffdd33;
    --primary-50_30: #00ffdd4d;
    --primary-50_40: #00ffdd66;
    --primary-50_50: #00ffdd80;
    --primary-50_60: #00ffdd99;

    /* TYPOGRAPHY */
    --ff-p: 'DM Sans', Roboto, sans-serif;          /* Primary font */
    --ff-c: 'DM Mono', Consolas, monospace;         /* Code font */

    /* SIZING */
    --s-x: 4px;
    --s-2x: 8px;
    --s-3x: 12px;
    --s-4x: 16px;
    --s-5x: 20px;
    --s-6x: 24px;
    --s-7x: 28px;
    --s-8x: 32px;
    --s-9x: 36px;
    --s-10x: 40px;
    --s-11x: 44px;

    /* EASING */
    --bez: cubic-bezier(.08,.82,.17,1);
}