:root {
    /* COLOR */
    --primary-5: #001a16;
    --primary-10: #00332c;
    --primary-20: #006658;
    --primary-30: #009985;
    --primary-40: #00ccb1;
    --primary-50: #00ffdd;
    --primary-60: #33ffe4;
    --primary-70: #66ffeb;
    --primary-80: #99fff1;
    --primary-90: #ccfff8;
    --primary-95: #e6fffc;

    --neutral-5: #0d0d0d;
    --neutral-10: #1a1a1a;
    --neutral-95: #f2f2f2;

    --primary-10-10: #00332c1a;
    --primary-10-20: #00332c33;
    --primary-10-30: #00332c4d;

    --primary-20-90: #006658e6;

    --primary-50-05: #00ffdd0d;
    --primary-50-10: #00ffdd1a;
    --primary-50-20: #00ffdd33;
    --primary-50-40: #00ffdd66;
    --primary-50-50: #00ffdd80;
    --primary-50-60: #00ffdd99;

    /* TYPOGRAPHY */
    --ff-p: 'DM Sans', Roboto, sans-serif;          /* Primary font */
    --ff-s: 'DM Serif', serif;                      /* Secondary font */
    --ff-c: 'DM Mono', Consolas, monospace;         /* Code font */

    /* SIZING */
    --s-x: 4px;
    --s-2x: 8px;
    --s-3x: 12px;
    --s-4x: 16px;
    --s-5x: 20px;
    --s-6x: 24px;
    --s-7x: 28px;
    --s-8x: 32px;
    --s-9x: 36px;
    --s-10x: 40px;
}